.tabButtons {
  display: flex;
  width: 80%;
  max-width: 1200px;
  min-height: 10%;
  height: 50px;
}

#createdButton {
  border-top-left-radius: 20px;
}

#cancelledButton {
  border-top-right-radius: 20px;
}

.button {
  width: 20%;
  max-width: 300px;
  color: black;
  font-size: 20px;
  background-color: #bcb8b1;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #f1faee;
}

.buttonCreated {
  background-color: #97c0d8;
}
.buttonCreated:hover {
  background-color: #97c0d8;
}

.buttonCooked {
  background-color: #ffec5c;
}
.buttonCooked:hover {
  background-color: #ffec5c;
}

.buttonDriver {
  background-color: #eceae9;
}
.buttonDriver:hover {
  background-color: #eceae9;
}

.buttonDelivered {
  background-color: #afe9bb;
}
.buttonDelivered:hover {
  background-color: #afe9bb;
}

.buttonCancelled {
  background-color: #fe7b72;
}
.buttonCancelled:hover {
  background-color: #fe7b72;
}
